.App{
  color: white;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
body {
  background-color: #000;
  color: white;
}
.avatar {
  border-radius: 20%;
}
.navBarUl{
  justify-content: center;
  display: flex;
  list-style-type: none;
  margin: 2% ;
  flex-direction: row;
  background-color: darkslategrey;
  padding: 3px%;
  overflow: hidden;
}
.navBarLiA{
  text-decoration: none;
  float: left;
  color: white;
  text-align: center;
  padding: 10px 15px 15px 10px;
  font-size: 20px;
}

.linkStyle{
  text-decoration: none;
  color: white;
  padding: 4px;
}