.App{
  color: white;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
body {
  background-color: #000;
  color: white;
}
.avatar {
  border-radius: 25%;
}
.navBarUl{
  justify-content: center;
  display: flex;
  list-style-type: none;
  margin: 2% ;
  flex-direction: row;
  background-color: darkslategrey;
  padding: 3px;
  overflow: hidden;
}
.navBarLiA{
  list-style-type: none;
  text-decoration: none;
  float: center;
  color: white;
  text-align: center;
  padding: 10px 15px 15px 10px;
  font-size: 20px;
}
.linkStyle{
  text-decoration: none;
  color: white;
  padding: 4px;
}

.expenseFlexboxInput{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 3%;
  background-color: darkslategrey;
  padding: 1%;
  width: 300px;
}

.expenseTextBold{
  color: black;
  justify-content: center;
  filter: drop-shadow(10px 5px 6px darkgray);
}

.expenseFlexboxOutput{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 4%;
  background-color: darkslategrey;
  padding: 1%;

}
.expenseFlexboxOutputHeader{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  margin: 2%;
  background-color: darkslategrey;
  padding: 3%;
}
.flexboxContainer {
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: space-between;
  background-color: black;
  margin: .5%;
  padding: 1%;
}
.expenseFlexboxOutputItem{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 3%;
  background-color: darkslategrey;
  padding: 1%;
  width: 200px;
}